/*Reset browser for styling*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*General Styling*/
html {
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
}

#sign-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: auto;
  margin-top: 300px;
  padding: 10px;
}

/*Canvas Styling*/
#ctx {
  border: 1px solid black;
}

/*Chat Styling*/
#chat-text {
  width: 500px;
  height: 100px;
  overflow-y: scroll;
}

#chat-input {
  width: 500px;
}

/*Game Styling*/
#game-div {
  display: none;
  margin: 20px 425px;
}
