/*Reset browser for styling*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*General Styling*/
html {
  font-family: "Space Mono", sans-serif;
  line-height: 1.6;
}

/*Start Menu Styling*/
.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  margin-top: 205px;
  border: 2px solid black;
}

.menu-container .game-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.menu-container .name-input {
  padding: 5px;
  font-family: "Space Mono", sans-serif;
  text-align: center;
}

.menu-container .play-button {
  padding: 2px 10px;
  margin-bottom: 10px;
  font-family: "Space Mono", sans-serif;
  border-style: 2px solid black;
}

/*Game Styling*/
.game-container {
  margin: 20px 420px;
  display: none;
}

/*Canvas Styling*/
#ctx {
  border: 1px solid black;
}

/*Chat Styling*/
.chat-text {
  width: 500px;
  height: 90px;
  overflow-y: scroll;
}

.chat-input {
  width: 500px;
  border: 1px solid black;
}
